*, *::before, *::after {
    margin:0 ;
    padding:0 ;
    box-sizing: border-box ;
}



:root{
    --responsive-fonts: calc(15px + 0.390625vw);
    --responsive-fonts-big: calc(15px + 3.890625vw);
    --persian-green: #0e9f9aff;
    --orange-web: #fbb03bff;
    --bittersweet: #f75552ff;
    --white: #ffffffff;
    --black: #000000ff;
}
html,
body {
    font-size: var(--responsive-fonts);
    width: 100%;
    /* overflow: hidden; */

}
body {
    background: var(--white) ;
    font-family: 'Montserrat', sans-serif;

}
h1 {
    font-size: var(--responsive-fonts-big);
}
p{
    font-weight: 300;
    font-family: 'Noto Sans', sans-serif;
}
a {
    text-decoration: none;
}
.hero-body{
    max-width:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 256px;

}

.hero-text{
    text-align: center;
    padding: 0 20%;
}
.hero-text h2,
.hero-text h3{
    margin-bottom: 32px;

}
.hero-text h3{
    font-weight:400;
}

.profile-image{
    background-color: var(--persian-green);
    background-image:url("../images/profile_photo1.png");
    background-size: cover;
    background-repeat: none;
    background-position: center;
    width:425px;
    height: 425px;
    border-radius: 50%;

}
.profile-image:hover{
    background-image: url("../images/profile_photo2.png");
}
.hero-footer{
    max-width:50%;
}
.hero-footer img{
    max-width: 100%;
}

.second-section{
    position: relative;
    background-color: var(--persian-green);
    height: 600px;
    margin: 0 auto;
}

.personal-info{
    position:absolute;
    max-width: 60%;
    background-color: var(--white);
    display:flex;
    top:80%;
    left:20%;
    border: 0.1px solid var(--black);
    border-radius: 8px;
}
.personal-info-card{
    padding: 64px 16px;
    height: 900px;
    display: flex;
    gap: 32px;
    flex-direction: column;
    align-items: center;


}

.title-and-desc,
.detailes{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:16px;

}
.personal-info-card div h5{
    color: var(--persian-green);
}




.personal-info-card i{
    font-size: 64px;
    color:var(--black);

}

.icon-container{
    height: 96px;
    width: 96px;
    background-color: var(--orange-web);
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    /* border: 1px solid black; */
}
