*, *::before, *::after {
    margin:0 ;
    padding:0 ;
    box-sizing: border-box ;
}



:root{
    --responsive-fonts: calc(15px + 0.390625vw);
    --responsive-fonts-big: calc(15px + 3.890625vw);
    --persian-green: #0e9f9aff;
    --orange-web: #fbb03bff;
    --bittersweet: #f75552ff;
    --white: #ffffffff;
    --black: #000000ff;
}
html,
body {
    font-size: var(--responsive-fonts);
    width: 100%;
    /* overflow: hidden; */

}
body {
    background: var(--white) ;
    font-family: 'Montserrat', sans-serif;

}
h1 {
    font-size: var(--responsive-fonts-big);
}
p{
    font-weight: 300;
    font-family: 'Noto Sans', sans-serif;
}
a {
    text-decoration: none;
}

/************* HEADER *************/
.logo{
    width: 120px;
}
header{
    max-width: 100%;
    background-color: var(--prussian-blue);
    position: sticky;
    top: 0px;
    box-shadow: 0px 0px 16px rgba(0,48,73,1);
    z-index: 999;

}

.nav-container{
    position: relative;
    display:flex;
    justify-content:space-between;
    align-items: center;
    background:var(--prussian-blue);
    padding: 16px 0px;
    top:0px;
    border: 1px solid black;
}

.active{
    color: var(--orange-wheel);
}


nav{
    position: absolute;
    /* width: 100%; */
    background: var(--prussian-blue);
}

nav,
#menu-checkbox,
#menu-checkbox-icons .humburger-icon-opened{
    display: none;
}
nav a {
    font-size: calc(15px + 0.590625vw);
    font-weight: 900;
    color: var(--black);
    display: block;
    width: 10ch;
    transition: all 0.3s ease 0s;
}
nav a:hover{
    color: var(--fire-engine-red);
}
#menu-checkbox-icons{
    font-size: 42px;
    margin-right:10%;
    color: var(--vanilla);
}
/* #menu-checkbox-icons i{ */
/*     font-size:42px; */
/*     color: var(--vanilla); */
/*     margin-right:10%; */
/* } */

#menu-checkbox:checked ~ nav{
    position:absolute;
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 24px;
    top:138px;
    padding-bottom: 16px;
    width:100%;

}

#menu-checkbox:checked ~ #menu-checkbox-icons .humburger-icon {
    display: none;
}

#menu-checkbox:checked ~  #menu-checkbox-icons .humburger-icon-opened {
    display: block;
}






.hero-body{
    max-width:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 256px;
    margin-top: 124px;

}

.hero-text{
    text-align: center;
    padding: 0 20%;
}
.hero-text h2,
.hero-text h3{
    margin-bottom: 32px;

}
.hero-text h3{
    font-weight:400;
}

.profile-image{
    background-color: var(--persian-green);
    background-image:url("../images/profile_photo1.png");
    background-size: cover;
    background-repeat: none;
    background-position: center;
    width:425px;
    height: 425px;
    border-radius: 50%;

}
.profile-image:hover{
    background-image: url("../images/profile_photo2.png");
}
.hero-footer{
    max-width:50%;
}
.hero-footer img{
    max-width: 100%;
}

.second-section{
    position: relative;
    background-color: var(--persian-green);
    height: 600px;
    margin: 0 auto;
}
.second-section-text{
    color: var(--white);
    text-align: center;
    padding:5% 10%;
}
.second-section h2{
    margin-bottom: 32px;
}

.personal-info{
    position:absolute;
    max-width: 60%;
    background-color: var(--white);
    display:flex;
    top:80%;
    left:20%;
    border: 0.1px solid var(--black);
    border-radius: 8px;
}
.personal-info-card{
    padding: 64px 16px;
    height: 900px;
    display: flex;
    gap: 32px;
    flex-direction: column;
    align-items: center;


}

.title-and-desc,
.detailes{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:16px;

}
.personal-info-card div h5{
    color: var(--persian-green);
}




.personal-info-card i{
    font-size: 64px;
    color:var(--black);

}

.icon-container{
    height: 96px;
    width: 96px;
    background-color: var(--orange-web);
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    /* border: 1px solid black; */
}

.third-section{
    margin-top:900px;
}

.project-list{
    display: flex;
    justify-content: center;
    gap: 16px;

}
.project-card{
    width:600px;
    display:flex;
    flex-direction: column;
    border: 0.1px solid var(--orange-web);
    border-radius: 24px;

}
.project-card-image-container img{
    width:100%;
    border-radius: 24px 24px 0 0 ;
}

.project-card-text{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:64px;
}

.links{
    display:flex;
    flex-direction: column;
    gap:16px;
}
.links a{
    color: var(--persian-green);
}

.links a:hover{
    color:var(--orange-web);
}

footer{
    margin-top: 124px;
    background-color: var(--persian-green);
    height: 500px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    gap:40px;
}

footer h3{
    text-align:center;
    max-width: 24ch;
}
.social-media{
    display:flex;
    justify-content:center;
    align-items: center;
    gap: 16px;
}

.social-media a{
    display:inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid white;
    display:flex;
    justify-content: center;
    align-items:center;
    border-radius: 50%;
}
footer i{
    font-size: 30px;
    color: var(--white);
}




/************* MEDIA-QUERY **************/


@media (min-width:430px){

}
@media (min-width:600px) {

}


@media (min-width:800px) {

    /* Nav */
    .nav-container {
        padding: 24px 10%;
        justify-content: space-betwenn;
        /* padding: 24px 0px; */
    }

    #menu-checkbox:checked ~ .humburger-icon-opened {
        display:none;
    }

    nav,
    #menu-checkbox:checked ~ nav{
        position: relative;
        /* width:auto; */
        display:flex;
        flex-direction: row;
        justify-content: flex-start;
        gap:48px;
        /* gap: 16px; */
        top: 0px;
        padding-bottom: 0px;
        /* border: 1px solid black; */
    }

    #menu-checkbox-icons,
    .humburger-icon,
    .humburger-icon-opened{
        display: none;

    }
    nav a{
        max-width:max-content;
    }


}
@media (min-width:1200px){




}


@media (min-width:1440px){

    .nav-container{
        max-width:1440px;
        margin:0 auto;
    }
    main{
        max-width: 1440px;
        margin:0 auto;
    }


@media (min-width:1920px){

    .nav-container{
        max-width:1920px;
        margin:0 auto;
    }
    main{
        max-width: 1920px;
        margin:0 auto;
    }
}
}
